@import '/src/scss/variables';

.dropdown {
  position: relative;
  display: inline;

  span {
    cursor: pointer;
    white-space: nowrap;
    color: $primary;
  }

  ul {
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    left: 0;
    top: 10px;
    z-index: 9;
    
    li {
      padding: 8px 10px;
      padding-right: 20px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      white-space: nowrap;
      font-weight: 500;
      font-size: 20px;
      line-height: 110%;
      /* or 40px */
      letter-spacing: -0.03em;
    

      &:first-child {
        padding-top: 15px;
      }

      &:last-child {
        padding-bottom: 15px;
      }

      &:hover {
        color: $primary;
        background-color: rgba($primary, 0.1);
      }
    }

    .active {
      color: $primary;
      background-color: rgba($primary, 0.1);
    }
  }
}

.range {
  display: inline-block;
  position: relative;
  
  span {
    color: $primary;
  }
  
  .rangeBox {
    width: 200px;
    max-width: 200px;
    position: absolute;
    top: 40px;
    left: -40px;
    padding-bottom: 7px;
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 25px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 9;
  }
}

.radioControl {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 21.5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $primary;
    border-radius: 5px;
  }

}










