@import '../variables';

.button {
  padding: 14px 70px;
  min-width: 180px;
  border-radius: 5px;
  background-color: $primary;
  border: none;
  outline: none;
  text-decoration: none;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;

  line-height: 110.52%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  &:disabled {
    opacity: .5;
  }

  svg {
    margin-right: 10px;
    transform: translateY(1px);

    path {
      transition: all .2s ease-in-out;
    }
  }
  
  &:hover:enabled {
    background-color: darken($primary, 10);
  }

  &--short {
    padding: 14px 35px;
  }

  &--transparent {
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
    
    &:disabled {
      opacity: .5;
    }

    &:hover:enabled {
      background-color: $primary;
      color: white;
    }
  }

  &--black {
    background-color: black;
  }
}